POSTGRESQL_DB_ORDERS=Host=q10-db;Port=5432;Database=orders;Username=example;Password=example
POSTGRESQL_DB_INVENTORY=Host=q10-db;Port=5432;Database=inventory;Username=example;Password=example
POSTGRESQL_DB_USER= example
POSTGRESQL_DB_PASSWORD= example
RABBIT_MQ_HOST_NAME=rabbitmq
RABBIT_MQ_USER=example
RABBIT_MQ_PASSWORD=example
RABBIT_MQ_PORT=5672